<div class="md-padding" layout-align="center" flex>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Your Profile</span>
            </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <md-table-container>
                <table md-table>
                    <tr md-row>
                        <th>Name</th>
                        <th><p>{{vm.profile.displayName}}</p></th>
                    </tr>
                    <tr md-row>
                        <th>Account Number</th>
                        <th><p>{{vm.profile.accountNo}}</p></th>
                    </tr>
                    <tr md-row>
                        <th>Office Name</th>
                        <th><p>{{vm.profile.officeName}}</p></th>
                    </tr>
                </table>
            </md-table-container>
        </md-card-content>
    </md-card>
    
    <md-button class="md-raised md-primary" ng-click="togglePassword = !togglePassword">Change Password</md-button>

    <md-card ng-show="togglePassword">
        
        <form name="registerForm" novalidate ng-submit="vm.submit()">
            <md-input-container class="md-block" md-no-float>
                <input type="password" name="mobile" ng-model="vm.form.password" placeholder="New Password">
            </md-input-container>
            <md-input-container class="md-block" md-no-float>
                <input type="password" name="accountNumber" ng-model="vm.form.repeatPassword" placeholder="Repeat New Password">
            </md-input-container>

            <md-button type="submit" class="md-raised md-accent submit-button" >
                Change Password
            </md-button>
        </form>

    </md-card>
</div>